<!DOCTYPE html>

<html>



<body>
    <div class="main-content">
        <header>
     <link rel="stylesheet" href="/css/styles.css">
    {{>header}}
    
    </header>
    <title>404</title>
     <link rel="icon" href="/img/weather.png">
        <p>{{error}}</p>
    </div>

    </body>
<footer>
    
    {{>footer}}
    
    
    </footer>

</html>