<!DOCTYPE html>

<html>
<head>
    <title>ABOUT</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Ankit. and it uses the data from mapbo and darksky</p>
    <img class="portrait" src="./img/Ankits Pic.jpg">
    {{!-- <p>Created by {{name}}</p> --}}
    </div>
</body>
<footer>
    {{>footer}}
</footer>

</html>