<!DOCTYPE html>

<html>
<head>
    <h1>Hello This is the About Page</h1>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <h1>About</h1>
    <img src="./img/Ankits Pic.jpg">
    <p>Created by {{name}}</p>
</body>


</html>