<!DOCTYPE html>

<html>

<head>
    <h1>This is Help Page</h1>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    {{>header}}
    <h1>
        The Sample message is :- {{message}}
    </h1>
</body>
</html>